

/* Style the nav list */
.breadcrumb {
    padding: 10 px 16px;
    list-style-type: none;
    background-color: #f0f0f0;
}

.footerlinks {
    list-style-type: none;
}

footer {
    background-color: #3a3a3a;
}

header {
    background-color: #2C9AB7;
}