.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  z-index: 100;
  transition: top 0.3s ease-in-out;
}

.skip-link:focus {
  top: 10px;
  outline: 2px solid yellow;
}

.bcontainer {
  height: 100%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */  
}

.nav-list li:not(:last-child)::after {
  content: " / ";
}

.tagline {
  font-size: 1.5rem;  
  font-style: italic;
}

.blue {
  color: #239AB9;
}

.about {
  position:relative;
  left: 100px;
  padding-top: 40px;
  padding-left: 300px;
  padding-bottom: 40px;
}

.container {
  float: left;
  width: 100%;
  text-align: center;
}

.footerlinks li:not(:last-child)::after {
  content: " / ";
}

.footerlinks {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
}

 /* Style for home page main contents */
.column1 {
  float: left;
  width: 620px;
  margin: 10px;
}

.column2 {
  float: left;
  width: 300px;
  margin: 10px;
}

.about {
  max-width: 60%;
  width: auto;
}

footer ul li a {
  text-decoration: none; /* Removes underline */
  color: white;
  font-size: 1.0rem;
}

/* Style the list font */
nav ul li a {
  text-decoration: none; /* Removes underline */
  color: black;
  font-size: 1.0rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 10px; 
  list-style: none; /* Removes bullet points */
}

a {
  color: #22758C;
  font-weight: 700;
}

blockquote {
  font-size: 1.25rem;
  color: #2C9AB7;
}

nav {
  height: 3rem;
  width: 100%;
  background-color: rgb(192, 192, 192);
  padding: 5px 5px 5px 800px;
}

header {
    display: inline;
    height: 8rem;
    width: 100%;
    padding-top: 20px;
    padding-left: 800px;
    padding-bottom: 50px;
    background-color: #2C9AB7;
    color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #3a3a3a;
  padding-left: 200px;
  padding-top: 20px;
  color: #f0f0f0;
} 

h1 {
  font-size: 3rem;
  margin: 0;
}